/*
Я бы использовал вместо CSS SASS-препроцессор.
Также в задании не было указано, как страница
должна отображаться при разных размерах,
так что для соответсвия будет использовано CSS свойство,
"display: flex" и в некоторых случаях "display: table".
*/

html {
  margin-top : 0em ;
  margin-bottom : 0em ;
  margin-left : 0.5em ;
  margin-right : 0.5em ;
  font-family : sans-serif ;
}

body {
}

/* Header. */

header {
  display : flex ;
  flex-direction : row ;
  margin-bottom : 2em ;
}

header img {
}

header .logo {
  display : table ;
}

header .logo .text {
  display : table-cell;
  font-weight : bold ;
  vertical-align : bottom ;
  padding-left : 0.75em ;
  padding-bottom : 0.75em ;
}

header .logo .text .uppercase {
  text-transform : uppercase ;
}

header .logo .text .capitalize {
  text-transform : capitalize ;
}

header .contacts {
  align-self : center ;
  display : table ;
  margin-left : auto ;
  margin-right : 1em ;
  vertical-align : middle ;
  font-size : 1.25em ;
}

header .contacts a {
  display : table-row ;
  color : #eb5017 ;
  text-decoration : none ;
}

/* Navigation panel. */

nav {
  padding : 0 ;
  display : flex ;
  flex-direction : row ;
  flex-wrap : wrap ;
  justify-content : left ;
}

nav a:first-of-type {
  padding-left : 4em ;
}

nav a {
  color : #ffffff ;
  text-decoration : none ;

  background : #231f20 ;
  padding-top : 1em ;
  padding-bottom : 1em ;
  padding-left : 2em ;
  padding-right : 2em ;

  text-align : center ;
  display : block ;
  
  border-style : solid ;
  border-color : #eb5017 ;
  border-width: 0 ;
  border-right-width : 0.1em ;
}

nav a.choosen {
  background: #eb5017 ;
}

nav a:last-of-type {
  border-right-style : none ;
  padding-right : 4em ;
}

/* Breadcrumb. */

ul.breadcrumb {
  padding : 0 ;
  margin-left : 1.5em ;
  list-style : none ;
}

ul.breadcrumb li {
  color : #231f20 ;
  display : inline ;
  font-size : 0.75em ;
}

ul.breadcrumb li+li:before {
  content : "- " ;
}

ul.breadcrumb li {
  text-decoration : underlined ;
}

ul.breadcrumb li a {
  color : inherit ;
  text-decoration : underlined ;
}

ul.breadcrumb li:last-of-type a {  
  text-decoration : none ;
}

/* Calculator. */

form.line {
  display : flex ;
  flex-direction : row ;
  flex-wrap : wrap ;
}


/* Footer. */

footer {
  z-index : 11 ;
  position : fixed ;
  left : 1em ;
  right : 1em ;
  bottom : 0 ;
  display : flex ;
  flex-direction : row ;
  flex-wrap : wrap ;
  justify-content : left ;

  color : #ffffff ;
  background : #231f20 ;
  padding-top : 0.5em ;
  padding-bottom : 2em ;
}

footer a {
  font-size : 0.75em ;
  text-decoration : underlined ;
  color : inherit ;
  padding-right : 1em ;
  padding-left : 1em ;
  padding-top : 0.5em ;
}
